@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Lato&display=swap');

:root{
  --primaryColor:#5fb7ea;
  --primaryRGBA:rgba(0,0,0,0.3);
  --mainGrey:#fefefe;
  --darkGrey:#5f5e5e;
  --mainWhite:#f1f1f1;
  --mainBlack:#222;
  --mainTransition:all 0.3s ease-in-out;
  --mainSpacing:0.3rem;
}

.text-title{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.text-main{
  color: var(--primaryColor);
}

body{
  font-family:'Arimo', sans-serif!important ;
  background: var(--mainGrey)!important;
}